p
{
 color: red;
 font-family: Courier;
 font-size: 25px;
 letter-spacing: 3px;
}

.heading
{
    background-color:grey;
    border-radius: 50px;
    width: 50%;
    height: 50%;
}

img
{
border-radius: 50px;
}